<div class="container">
    <div class="user-details">
    <h1 class="text-center section-heading heading"><span>About me</span></h1>
    <p class="about-me-text">{{ include.data[0].aboutme }}</p>
  </div>
  <div class="user">
    {% for category in include.data offset:1%} 
    <div class="tech">
      <h2>{{ category.title }}</h2>
      {% if category.icons %}
        {% for icon in category.icons %}
            <span class="tech-icons">
                  <img class="{{ icon.icon }}" src="../assets/svg/{{ icon.icon }}.svg" alt="{{ icon.icon }}" data-toggle="tooltip" data-placement="top" title="{{ icon.icon | upcase }}">
            </span>
             
        
        {% endfor %}
      {% endif %}
      <p>{{ category.description}}</p>
    </div>
    {% endfor %}
    </div>
    <div class="download-resume-container text-center">
      <a class="download-resume-btn" target="_blank" href="https://drive.google.com/file/d/1X-paiyASsbZ25MQwxFjGa1UqX84hQ52I/view" role="button" title="Download resume"> <i class="fas fa-download"></i> &nbsp;Download Resume</a>
    </div>
</div>