
<div class="container" data-aos="fade-down" data-aos-once="true">
   
    <div>    
        <h3 class="thanks-txt">Thanks!</h3>
        <p class="chat-txt">Want to chat about something?</p>
        <a class= "contact-me-btn" target="_blank" href="mailto:{{ site.data.profile.email }}" class="contact-toggle btn btn-lg btn-border push-bottom"><i class="icon fas fa-paper-plane"></i>&nbsp;Let's Connect!</a>

        <div class="header-icons">
            <a aria-label="My LinkedIn" target="_blank" href="{{ site.data.profile.social.linkedin }}"><i class="icon fab fa-linkedin" aria-hidden="true"></i></a>
            <a aria-label="My Github" target="_blank" href="{{ site.data.profile.social.github }}"><i class="icon fab fa-github" aria-hidden="true"></i></a>
        </div>
    </div>

    
</div>