<div class="container text-sm-center">
    <h1 class="text-center section-heading heading"> <span> Education</span></h1>
    {% for education in include.educations %}

    <div class="">
        <h3 class="theme-color">
            <span class="degree"><b>{{ education.degree }}</b></span>
        </h3>
        <p class="info">
            <span class="university">
                <i class="fa fa-university"> </i>
                {{ education.university }}
            </span>
            <!-- <span>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                {{ education.location }}
            </span> -->
            <span class="date camelCase">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                {{ education.graduation }}
            </span>
            <!-- <div class="camelCase">
                Coursework: {{ education.courses}}
            </div> -->
        
    </div>
    {% endfor %}
</div>
