<div class="container">

    <h1 class="text-center section-heading heading"> <span>Work Experiences </span></h1>
    {% for experience in include.experiences %}
        <div class="row experience">
            <div class="col-md-4 text-right">
                <h3 class="experience-company text-right ">{{ experience.company }}</h3>
                       
                <p class="experience-period" >{{ experience.period }}</p>

            </div>
            <div class="col-md-8 timeline">
                <div class="row item">
                   
                       <h3 class="experience-title col-md-8" >{{ experience.title }}</h3>
                   
                        <span class="col-md-4 experience-location float-right float-right text-right">
                            <i class="fa fa-map-marker-alt experience-icon-map-marker" aria-hidden="true"></i> {{ experience.location }}
                        </span>
                    
                </div>

                <div class="experience-description text-justify">
                    {{ experience.description }}

                    {% if experience.apps %}

                        <ul class="mobile-apps">

                            {% for app in experience.apps %}

                                <li>
                                    <h4 class="mobile-app-name"><a href="{{ app.link }}"> {{ app.name }} </a></h4>
                                    <p class="mobile-app-description"> {{ app.desc }}</p>
                                </li>

                            {% endfor %}

                        </ul>

                    {% endif %}

                </div>
            </div>
        </div>

    {% endfor %}
</div>