<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.data.profile.name }}</span>
        <span class="site-description">{{ site.data.profile.title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:{{ site.data.profile.email }}"><i class="icon fas fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="{{ site.data.profile.social.linkedin }}"><i class="icon fab fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="{{ site.data.profile.social.github }}"><i class="icon fab fa-github" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
