<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.data.profiledescription }}{% endif %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- <link href= "{{ '/assets/css/bootstrap.min.css' | prepend: site.baseurl }}" rel="stylesheet"> -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.png' }}" >
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  {% seo %}
</head>
