<style>


@media only screen and (max-width: 400px) {
  .typingArea {
    height: 150px;
    font-size: 45px;
    font-family: Montserrat,sans-sans-serif;
  }
}
.typingArea p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.typingArea p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

</style>

<!--<audio id="typing_sounds" src="./assets/mx_blacks.wav" preload="auto"></audio>-->

<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">Kayhan Eryılmaz</span>
      </h1>
      <div class="typingArea">
        <p style="font-size:45px;font-family: 'Montserrat', sans-serif;">I am <span class="typed-text" style="color:#3dd3b9;font-size:45pxfont-family: 'Montserrat', sans-serif;"></span><span class="cursor">&nbsp;</span></p>
      </div>

      <div class="header-icons">
        <a aria-label="Send email" href="mailto:kayhankubi@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/kayhaneryilmaz"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/kayhanliao"><i class="icon fa fa-github" aria-hidden="true"></i></a>
        <a aria-label="My Resume" href='./assets/Kayhan Eryilmaz Resume 21-22.pdf'><i class="icon fa fa-file-pdf-o" aria-hidden="true"></i></a>
        <a aria-label="My Blog" target="_blank" href="https://github.com/kayhanliao"><i class="icon fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/kayhan.jpg"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My Reddit" target="_blank" href="https://www.reddit.com/user/kayhanliao/"><i class="icon fa fa-reddit" aria-hidden="true"></i></a>

      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>


<script>
//var typingAudio = document.getElementById("typing_sounds");

//function togglePlay() {
//  return typingAudio.paused ? typingAudio.play() : typingAudio.pause();
//}

const typedTextSpan = document.querySelector(".typed-text");
const cursorSpan = document.querySelector(".cursor");
const textArray = ["a data Scientist", "Turkish","Taiwanese","a dreamer",
                    "a UIUC Graduate",];

const typingDelay = 100;
const erasingDelay = 50;
const newTextDelay = 2000;
let textArrayIndex = 0;
let charIndex = 0;



function type() {
  if (charIndex < textArray[textArrayIndex].length) {
    if(!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
    typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
    charIndex++;
    setTimeout(type, typingDelay);
  }
  else {
    cursorSpan.classList.remove("typing");
  	setTimeout(erase, newTextDelay);
  }
}

function erase() {
	if (charIndex > 0) {
    if(!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
    typedTextSpan.textContent = textArray[textArrayIndex].substring(0, charIndex-1);
    charIndex--;
    setTimeout(erase, erasingDelay);
  }
  else {
    cursorSpan.classList.remove("typing");
    textArrayIndex++;
    if(textArrayIndex>=textArray.length) textArrayIndex=0;
    setTimeout(type, typingDelay + 1100);
  }
}

document.addEventListener("DOMContentLoaded", function() { // On DOM Load initiate the effect
  if(textArray.length) setTimeout(type, newTextDelay + 250);

});
</script>
