<div class="container">
    <h1 class="text-center section-heading heading"> 
        <span>Portfolio</span>
    </h1>
    <div class="portfolioContainer row">

        {% for item in include.items %}
        <div class="col-lg-4 {% if forloop.index > 5 %} collapse multi-collapse {% endif %}"  data-aos="fade-out">
            <div class="card portfolio-item  text-center">
                
                    <img class="card-img-top img-fluid " src="{{ item.img }}"  alt="Card image cap"> 
                    <a href="{{ item.repo }}" class="card-link btn btn-sm" target="_blank">
                        <i class="icon fab fa-github-square repo-github" aria-hidden="true" title="View repository"></i>
                    </a>

                    <div class="card-body repo-title-desc">
                        <h3 class="card-title text-left repo-name">{{ item.name }}</h3>
                        <p class="card-text text-left repo-desc">{{ item.desc }}</p>
                    </div>
                    <div class="card-footer">
                        {% for tech in item.technologies %}
                            {% if tech.icons %}
                                {% for icon in tech.icons %}
                                    <span class="tech-icons">
                                         <img class="{{ icon.icon }}" src="../assets/svg/{{ icon.icon }}.svg" alt="{{ icon.icon }}" title="{{ icon.icon | upcase }}">
                                    </span>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
               
            </div>
        </div>
        {% endfor %}

    </div>
    <div class="text-right portfolio-more-btn" data-aos="zoom-in" data-aos-once="true">
        <button class="btn text-right" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false">Show More..</button>
    </div>
</div>