<div class="container">
    <h1 class="text-center section-heading heading">
        <span>Skills</span>
    </h1>
    <div class="row skill-container">
    {% for skill in include.skills %}
    {% for item in skill.list %}
    <div class="col-sm-3 mx-auto {{ skill.type | downcase}}" title="{{ skill.type}}">
        <div class="card skill-item">
            <div class="skill card-body">
                <span class="skill-list">{{ item.name }}</span>
            </div>

        </div>
    </div>
    {% endfor %} 
    {% endfor %}
</div>
</div>