#about {  
  width: 100%;
  margin: 0 auto;
  //max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 100%;
  }
  .download-resume-btn{
    width: 25%;
    margin: 1em auto;
    color: $main;
    border-color: $main;
    background: white;
    font-size: 1em;
    padding: 1em;
    text-transform: capitalize;
    border: 2px solid;
    display: block;
    text-align: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-transition: background-color 0.5s ease-in-out, 0.5s;
    -moz-transition: background-color 0.5s ease-in-out, 0.5s;
    -o-transition: background-color 0.5s ease-in-out, 0.5s;
    transition: background-color 0.5s ease-in-out, 0.5s;
    text-decoration: none;
    &:hover{
        background: $main;
        color: white;
        border-color: $main
    }
  }
  .about-me-text{
    width: 75%;
    margin: 0 auto;
  }
  .wave{
    font-size: 1.3em;
  }

  .tech-icons{
   
    img{
        
      width: 60px !important;
      height: auto;
        

    }
  }
}

.tech {
  margin: 10px;
  flex: 1 1 0;
  h2, h3 {
    font-weight: 400;
  }
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: large;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-details {
  text-align: center;
  margin: 5px auto;
  h1 {
    font-weight: 400;
  }

  .rubik-img{
    height: 15px;
    transition: transform 0.5s;
    animation-name: rubik-animation;
    animation-duration: 4s; 
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    display: inline-block;
    &:hover{
      animation-name: unset;
    }
  }

  @keyframes rubik-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(90.0deg) }  
    20% { transform: rotate(180.0deg) }
    30% { transform: rotate(270.0deg) }
    40% { transform: rotate(90.0deg) }
    50% { transform: rotate(270.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
  }

  .wave {
    animation-name: wave-animation;
    animation-duration: 2.5s; 
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
  }
}

@media (max-width: 834px) {

  #about{
    .download-resume-btn{
        width: 60%;
    }
  }
}

@media (max-width: 767px) {

  #about{
    .download-resume-btn{
        width: 80%;
    }
  }
}