@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Raleway');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab|Antic+Slab');

* {
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    font-size: 140%;
    line-height: 1.5;
    color: #555;

    font-family: 'Antic Slab', serif;
    font-weight: 400;
}
article, aside, figcaption, figure, footer, header, nav, section {
    display: block;
}

.anchor{
    padding-top: 10px;
}
.container{
    max-width: 1340px;
}
ul, ol {
    margin: 1em 0;
    padding-left: 40px;
}
p, figure {
    margin: 1em 0;
}
a img {
    border: none;
}
sup, sub {
    line-height: 0;
}
.camelCase{
    text-transform:capitalize;
}
.heading span{
    letter-spacing: 3px;
    text-transform: capitalize;
    border-bottom: 3px solid #11ABB0;
}

.timeline {

    border-left: 3px solid #11ABB0;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    padding: 0 30px;

    .item {
        &:before {

            content: "";
            position: absolute;
            left: -12px;
            top: -2px;
            display: inline-block;
            width: 22px;
            height: 22px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            background: #fff;
            border: 3px solid #11ABB0;
        }

        &:after {
            content: "";
            position: absolute;
            left: -6px;
            top: 4px;
            display: inline-block;
            width: 10px;
            height: 10px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            background: #11ABB0;
            z-index: 10;
        }
    }
}

.container {
    // @extend %box-shadow-container;
    margin: 10px auto;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 24px;
    .row {
        padding-bottom: 2px;
    }
}
%boxshadow {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

%box-shadow-container {
    @extend %boxshadow;
    background-color: #fff;
    padding: 25px
}

%section-heading {
    padding-bottom: 50px;
    font-weight: bold;
    color: #676869;
}