#education{
    .university{
        text-transform: uppercase;
        display: block;
        
    }
    .degree{
        color: $primary-color-darker;
    }
    i{
        color: $primary-color   ;
    }
    
}