#experience {
    i{
        color: $primary-color   ;
    }

}

.experience {
    padding: 0 1em 1em 1em;
    > div{
    padding: 0 30px;
    }
}
.experience-title {
   // margin: 0 auto;
    font-weight: bold;
}

.experience-period,
.experience-description  {
    margin-top: 0;
}

.experience-description {
    text-align-last: left;
    padding: 0 0 10px 0;
}
.experience-company {
    color: $primary-color;
    margin: 0 auto;
    font-weight: bold;
}
.experience-location{
    padding: 0;
    margin: auto;
    display: block;
}
.experience-icon-map-marker {
    color: gray;
    padding-right: 3px;
}

.mobile-apps {

    padding-left: 100px;
    padding-top: 10px;

}
@media (max-width: 767px) {
    .anchor {

        margin-top: 2px;
        text-align: center;

        .container {

            //padding: 25px 0px 0px 0px;
            
            .experience-title, .experience-location, .experience-company,.experience-period  {
                font-weight: bold;
                text-align: center !important;
                font-size: large;
                padding-left: 0px;
                padding-right: 16px;
                margin-bottom: 1px !important;
            }
            .experience-company {
                font-size: xx-large;
             }
             .experience-period {
                font-style: italic;
             }

             .experience-location {
                font-size: medium !important;
             }

            .experience-description {

                .mobile-apps {

                    padding-left: 0px;
                    list-style: none;

                    .mobile-app-description {

                        text-align: left;

                    }
                }
            }
        }

        .section-heading {
            padding: 0px;
        }

        .timeline {

            border-left: 0px;
            padding: 0 10px 5px 10px;

            .item {

                &:before {
                   // display: none;
                    left: 2px;
                    top: -30px;
                }

                &:after {
                  //  display: none;
                    left: 8px;
                    top: -24px;
                }

                
            }

        }
        
    }
}