
#portfolio {
    .container {
        
        a:focus {
            outline: none;
        }
        
        .portfolioContainer {
            // border: 1px solid #eee;
            // border-radius: 3px;
            padding-top: 20px;
            > div{
                padding: 5px;
            }
        }
        .portfolioContainer a{
            display: contents;
        }
        img {
            
        }

        .repo-name{
            text-decoration: underline;

        }
        .repo-title-desc{
            //overflow: hidden;
        }
        .repo-desc{
            // display: inline-block;
            // text-overflow: ellipsis;
            // width: 100%;
            // white-space: nowrap;
            // overflow: hidden;
            // box-sizing: border-box;
            // animation: ellipsis ease 5s infinite;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .repo-github{
            position: absolute;
            right: 0em;
            top: 0em;
            font-size: xx-large !important;
            padding: 5px;
            background: white;
        }
        .portfolio-item {
            padding: 0 .2em 1em .2em;
            height: 100%;
            box-shadow: 0 10px 30px -15px rgba(0,0,0,.2);
            border: 1px solid rgba(0,0,0,.07);
            &:hover{

                background:  rgba($primary-color, 0.0);
               // box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.31);box-shadow: 0 20px 30px -10px rgba(0,0,0,.2);
                box-shadow: 0 20px 30px -10px rgba(0,0,0,.8);

                -webkit-transition: all 0.2s ease-in;
                -moz-transition: all 0.2s ease-in;
                -ms-transition: all 0.2s ease-in;
                -o-transition: all 0.2s ease-in;
                transition: all 0.2s ease-in;
                
            }
        }
    }

}