
#portfolio {
    .container {
        
        a:focus {
            outline: none;
        }
        
        .portfolioContainer {
            
            padding-top: 20px;
            
            > div{
                padding: 5px;
            }
        }
        .portfolioContainer a{
            display: contents;
        }
        img {
            display: none;
            
        }

        .repo-name{
            color: $primary-color;
        }
        .repo-title-desc{
            
        }
        .repo-desc{
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            font-size: 90%;
        }

        .repo-github{
            position: absolute;
            right: 0em;
            top: 0em;
            font-size: xx-large !important;
            padding: 5px;
            background: white;
        }

        .tech-icons{
           max-height: 2.5em;
           max-width: 2.5em;
           width: auto;
           display: inline-flex;
           img{
               
               max-width: 100%;
               width: 100%;
               display: flex;
               margin: 0 auto;

           }
        }

        .card-footer{
            background-color: unset;
            padding: .75rem .25rem .50em;
        }
        .portfolio-item {
            padding: 0 .2em .3em .2em;
            height: 100%;
            box-shadow: 0 10px 30px -15px rgba(0,0,0,.2);
            border: 1px solid rgba(0,0,0,.07);
            border-radius: 1.25em;
            background-color:unset;
            &:hover{

                
                box-shadow: 0 20px 30px -10px rgba(0,0,0,.8);
                -webkit-transition: all 0.2s ease-in;
                -moz-transition: all 0.2s ease-in;
                -ms-transition: all 0.2s ease-in;
                -o-transition: all 0.2s ease-in;
                transition: all 0.2s ease-in;
                
            }
        }

        .portfolio-more-btn button{
            background-color: $primary-color;
            border-color: $primary-color;
            color: white;
        }
    }

}
@media (max-width: 834px) {

    #portfolio .container .tech-icons{
        max-width: 2em;
        max-height: 2em;
    }

    .portfolioContainer {
        
        > div{
            width: 85%;
            margin: 0 auto;
            margin-bottom: 0.5em;
        }
    }
    
}