#skills{
    .container{

        .skill-container{
            padding-top: 1em;
            margin: auto;
            max-width: 90%;
            > div{
                margin: 5px;
                padding:5px;
                width: auto;
                display: inline-table;
            }

            .programming-languages > div {
                background-color: #b2cefe;
            }
            .cloud > div {
                background-color: #d3f6f3;
            }
            .containerization > div {
                background-color: #f9c0c0;
            }
            .web-technologies > div {
                background-color: #fee9b2;
            }
            .testing-frameworks > div {
                background-color: #fbd1b7;
            }
            .databases > div {
                background-color: #ccf6c8;
            }
            .tools > div {
                background-color: #f9fce1;
            }
            .skill-item{
               // padding: 0 .2em .3em .2em;
               padding:.5em;
                height: 100%;
                border: none;
                word-wrap: normal;
                font-size: 110%;
                box-shadow: 0 5px 20px -10px rgba(0, 0, 0, 1);
                .skill{
                    padding: 0;
                }
                .skill-heading{
                    font-weight: bold;
                    margin-bottom: .2em;
                    color: $primary-color;
                }
                .skill-list{
                    padding: 0;
                    margin: 0;
                    li{
                        list-style: none;
                        list-style-position: inside;
                    }
                }

            }
        }
    }
}

@media (max-width: 768px) {

    .skill-container > div{
        margin:2px ;

    }
    .skill{
        padding: 1em 0;
       
    }
}