#skills{
    .container{

        .skill-container{
            padding-top: 1em;
            margin: auto;
            max-width: 90%;
            > div{
                margin: 5px;
                padding:5px;
                width: auto;
                display: inline-table;
                font-size: .9em;
                flex: initial;
            }

            .programming-languages > div {
                background-color: #b2cefe;
                &:hover{
                    border-color: #b2cefe;
                }
            }
            .cloud > div {
                background-color: #d3f6f3;
                &:hover{
                    border-color: #d3f6f3;
                }
            }
            .containerization > div {
                background-color: #f9c0c0;
                &:hover{
                    border-color: #f9c0c0;
                }
            }
            .web-technologies > div {
                background-color: #fee9b2;
                &:hover{
                    border-color: #fee9b2;
                }
            }
            .testing-frameworks > div {
                background-color: #fbd1b7;
                &:hover{
                    border-color: #fbd1b7;
                }
            }
            .databases > div {
                background-color: #ccf6c8;
                &:hover{
                    border-color: #ccf6c8;
                }
            }
            .tools > div {
                background-color: #f7b1e9;
                &:hover{
                    border-color: #f7b1e9;
                }
            }
            .skill-item{
               // padding: 0 .2em .3em .2em;
               padding:.5em;
                height: 100%;
                word-wrap: normal;
                border: 2px solid rgba(20, 20, 20, 0);
                border-radius: 5px;
                &:hover{
                    background-color:white;
                    border: 2px solid;
                    box-shadow: 0 5px 20px -10px rgba(0, 0, 0, 0.5);
                }
                .skill{
                    padding: 0;
                }
                .skill-heading{
                    font-weight: bold;
                    margin-bottom: .2em;
                    color: $primary-color;
                }
                .skill-list{
                    padding: 0;
                    margin: 0;
                    li{
                        list-style: none;
                        list-style-position: inside;
                    }
                }

            }
        }
    }
}

@media (max-width: 768px) {

    .skill-container > div{
        margin:2px ;

    }
    .skill{
        padding: 1em 0;
       
    }
}