$main: #1a222c;
$sec: #4B5664;
$purple: #54516A;
$whitey: #f0f0f0;
$cut: 768px;

$primary-color: #11ABB0;//dodgerblue;
$primary-color-darker: #0e8488;//dodgerblue;
$secondary-color: deepskyblue;
$link-visited-color: #e4e4e4;

$profile-img-border-color: deepskyblue;
$profile-img-border-size: 5px;
$profile-description-color: #cef;

$body-bg-color: #f5f5f5;

$navigation-bar-color: #d8d8d8;
$navigation-bar-hover-color: white;
$navigation-bar-bg-color: #1a222c;//#1e75a7;

$contacts-bar-color: #c2e0e1;
$contacts-bar-hover-color: white;
$contacts-bar-bg-color: #08c;
//$contacts-bar-bg-color: #00a6ff;

$regular-font: 'Source Sans Pro';
$heading-font: 'Roboto';


$footer-link-hover-color: lightgray;
$footer-bg-color: #2f2e2e;
$footer-color: deepskyblue;