
@font-face {
font-family : Wingdings;
}
@font-face {
font-family : "Cambria Math";
}
@font-face {
font-family : Calibri;
}
@font-face {
font-family : "Avenir Next LT Pro Cond";
}
p.MsoNormal, li.MsoNormal, div.MsoNormal {
margin : 0;
font-size : 10.0pt;
font-family : "Times New Roman", serif;
}
b {
margin : 0;
page-break-after : avoid;
font-size : 12.0pt;
font-family : "Avenir Next LT Pro Cond";
}
a:link, span.MsoHyperlink {
color : #0563C1;
text-decoration : underline;
}
a:visited, span.MsoHyperlinkFollowed {
color : #954F72;
text-decoration : underline;
}
p.MsoListParagraph, li.MsoListParagraph, div.MsoListParagraph {
margin-top : 0;
margin-right : 0;
margin-bottom : 0;
margin-left : 36.0pt;
font-size : 10.0pt;
font-family : "Times New Roman", serif;
}
p.MsoListParagraphCxSpFirst, li.MsoListParagraphCxSpFirst, div.MsoListParagraphCxSpFirst {
margin-top : 0;
margin-right : 0;
margin-bottom : 0;
margin-left : 36.0pt;
font-size : 10.0pt;
font-family : "Times New Roman", serif;
}
p.MsoListParagraphCxSpMiddle, li.MsoListParagraphCxSpMiddle, div.MsoListParagraphCxSpMiddle {
margin-top : 0;
margin-right : 0;
margin-bottom : 0;
margin-left : 36.0pt;
font-size : 10.0pt;
font-family : "Times New Roman", serif;
}
p.MsoListParagraphCxSpLast, li.MsoListParagraphCxSpLast, div.MsoListParagraphCxSpLast {
margin-top : 0;
margin-right : 0;
margin-bottom : 0;
margin-left : 36.0pt;
font-size : 10.0pt;
font-family : "Times New Roman", serif;
}
span.MsoSubtleEmphasis {
font-family : "Calibri", sans-serif;
}
span.MsoBookTitle {
font-family : "Times New Roman", serif;
text-decoration : underline;
}
span.Heading1Char {
font-family : "Calibri Light", sans-serif;
color : #2F5496;
}
p.msonormal0, li.msonormal0, div.msonormal0 {
margin-right : 0;
margin-left : 0;
font-size : 12.0pt;
font-family : "Times New Roman", serif;
}
p.Default, li.Default, div.Default {
margin : 0;
font-size : 12.0pt;
font-family : "Times New Roman", serif;
color : black;
}
.MsoChpDefault {
font-size : 10.0pt;
}
@page WordSection1 {
size : 21.0cm 842.0pt;
margin : 72.0pt 72.0pt 72.0pt 72.0pt;
}
div.WordSection1 {
page : WordSection1;
}
ol {
margin-bottom : 0;
}
ul {
margin-bottom : 0;
}
table.MsoNormalTable {
font-size : 10.0pt;
font-family : "Times New Roman", serif;
}
