<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<html lang="en">
  {% include head.html %}
  <body  data-spy="scroll" data-target=".navbar" data-offset="0">
      {% include header.html %}
      
      {% include nav.html class="justify-content-center" links = site.data.links type="navbar" %}
      <section id="about" class="anchor">
        {% include about.html %}
      </section>
      <section id="experience" class="anchor">
        {% include experiences.html experiences = site.data.experiences %}
      </section>
      <section id="skills" class="anchor">
        {% include skills.html skills = site.data.skills %}
      </section>
      <section id="portfolio" class="anchor" >
        {% include portfolio.html items=site.data.portfolio %}
      </section>
    
      <section id="education" class="anchor">
        {% include education.html educations = site.data.educations %}
      </section>
        {{ content }}
      {% include footer.html %}
      <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
      <script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
      <script src="{{ '/assets/js/jquery-3.2.1.min.js' | prepend: site.baseurl }}"></script>
      <script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
      <script src="{{ '/assets/js/jquery.isotope.js' | prepend: site.baseurl }}"></script>
  </body>
</html>
